
@{
    ViewBag.Title = "Profile";
    Layout = null;
}
<link href="~/Content/StyleProfile.css" rel="stylesheet" />
<body>
    <header>

        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src="/Images/@ViewBag.User.Image.ImageName" alt="">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">@ViewBag.User.Username</h1>

                    <button class="btn profile-edit-btn">Edit Profile</button>

                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>

                </div>

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">164</span> posts</li>
                        <li><span class="profile-stat-count">188</span> followers</li>
                        <li><span class="profile-stat-count">206</span> following</li>
                    </ul>

                </div>

                <div class="profile-bio">

                    <p><span class="profile-real-name">@ViewBag.User.Name @ViewBag.User.Surname</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>

                </div>

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>

    <main>

        <div class="container">

            <div class="gallery">
                @foreach (var item in ViewBag.Posts)
                {


                    <div class="gallery-item" tabindex="0">

                        <img src="/Images/@item.Image.ImageName"  alt="Image Didnt found">

                        <div class="gallery-item-info">
                            
                        <br />
                            <ul>
                                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> @item.LikeCount</li>
                                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
                            </ul>

                        </div>

                    </div>
                }


            </div>
            <!-- End of gallery -->

            <div class="loader"></div>

        </div>
        <!-- End of container -->

    </main>
</body>
